<!DOCTYPE html>
<html>
<head>
    <title>Seleccionar Parámetros</title>
</head>
<body>
    <h1>Selecciona las variables</h1>
    <form action="/process" method="post">
        <h3>Variables de interés:</h3>
        {% for var in variables %}
            <input type="checkbox" name="variables" value="{{ var }}"> {{ var }}<br>
        {% endfor %}

        <h3>Variables que permiten valores negativos:</h3>
        {% for var in variables %}
            <input type="checkbox" name="negative_variables" value="{{ var }}"> {{ var }}<br>
        {% endfor %}

        <br>
        <button type="submit">Procesar</button>
    </form>
</body>
</html>