{% extends "layout.html" %}

{% block content %}
  <h1>Upload CSV File</h1>
  <form action="/form" method="post" enctype="multipart/form-data">
      <label for="file-upload" class="custom-file-upload button button-gray">
          Choose file
      </label>
      <input id="file-upload" type="file" name="file" required>
      <span id="file-name">No file selected</span>
      <button type="submit" class="button button-yellow">Upload and continue</button>
  </form>

  <script>
    const input = document.getElementById('file-upload');
    const fileNameDisplay = document.getElementById('file-name');

    input.addEventListener('change', function() {
      fileNameDisplay.textContent = input.files.length > 0 ? input.files[0].name : 'No file selected';
    });
  </script>

  <style>
    input[type="file"] {
      display: none;
    }

    .custom-file-upload {
      display: inline-block;
      padding: 0.6rem 1rem;
      cursor: pointer;
    }

    #file-name {
      margin-left: 1rem;
      font-style: italic;
    }
  </style>
{% endblock %}
